body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: PFFusionSansPro-Black
  }
  
  h1 {
    color: #333;
  }
  
  #wheel-container {
    display: inline-block;
    left: 224px;
    top: 135px;
    width: 696px;
    height: 755px;
    border: 1px solid black
}

#wheel {
    position: relative;
    top: 58px
}

#free-spins-message {
    display: none;
    color: red;
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

#arrow {
    position: relative;
    top: -88%;
    left: 28%;
}

#win-container {
    width: 696px;
    display: flex;
    justify-content: space-between;
    font-size: 80px;
}




  #spin-button {
    position: relative;
    top: -45.0%;
    left: 42.6%;
    font-weight: bold;
    font-size: 39px;
    background-color: white;
    border: none;
    border-radius: 20px;
  }




  #free-spins {
    display: inline;
    /* transform: scale(0); */
    border: solid black;
    color: red;
    font-size: 60px;
  }